@keyframes STAR-MOVE {
	0% {
		left: 0;
		top: 0;
	}

	50% {
		left: -1000px;
		top: -200px;
	}

	100% {
		left: 0;
		top: 0;
	}
}

#background {
	background: black url(./images/background.png) repeat 5% 5%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;

	animation: 20s infinite alternate STAR-MOVE;
}

#middleground {
	background: url(./images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	animation: 20s infinite alternate STAR-MOVE;
}

#foreground {
	background: url(./images/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;

	animation: 20s infinite alternate STAR-MOVE;
}
